#main {
  width: 100%;
}

#main-content {
  width: auto;
}

#column-one {
  width: 20%;
}

#column-two {
  width: 20%;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-content {
  width: 920px;
  max-width: 100%;
  padding: 0;
}

.portaltype-collective-cover-content #main-content,
.portaltype-window #main-content {
  width: 100%;
}

#column-one {
  padding-right: 2%;
}

#column-two {
  padding-left: 2%;
}

#portal-column-content {
  width: 100%;
  margin-left: -100%;
}
@media (max-width: 767px) {
  #main {
    display: table;
  }

  #main-content,
  #column-one,
  #column-two {
    display: table-row;
    width: 100%;
    padding: 0;
  }
}

body {
  margin: 0;
  background: #fff;
  color: #333333;
  font-family: Raleway, sans-serif;
}

a:link,
a:visited {
  color: #333;
}

#content #content-core a:link,
#content #content-core a:hover,
#content #content-core a:visited {
  color: #205c90;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
  line-height: 1.2em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

.state-published {
  color: #10233b !important;
}

a:hover {
  color: #1a3a64;
}

#content a:hover,
dl.portlet a:hover {
  color: #1a3a64 !important;
}

.clear {
  clear: both;
}

.hiddenStructure {
  display: none;
}

iframe,
img {
  max-width: 100%;
}

img {
  height: auto;
}

#wrapper {
  padding: 0;
}

#main {
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 1rem;
}

header {
  padding-top: 16px;
  border-bottom: 1px solid #d4d4d4;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#f7f7f7)
  );
  background-image: -o-linear-gradient(#fff, #f7f7f7);
  background-image: linear-gradient(#fff, #f7f7f7);
  -webkit-box-shadow: 0px 6px 5px -4px rgba(136, 136, 136, 0.15686);
  box-shadow: 0px 6px 5px -4px rgba(136, 136, 136, 0.15686);
  color: #000;
}

header a:link,
header a:visited {
  color: #ffffff;
}

header a:hover {
  color: #333;
}

#header-banner {
  width: 1150px;
  max-width: 94%;
  padding: 0 3%;
  margin: 0 auto;
}

#header-banner::after {
  display: block;
  clear: both;
  content: 'final do header-banner';
  font-size: 1px;
  text-indent: -5000px;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  float: left;
}

#logo img {
  max-width: 87px;
  height: auto;
  margin-right: 30px;
}

#logo h1 {
  margin-top: 0;
  color: #333;
  font-size: 1.28rem;
  font-weight: 300;
  line-height: 2.3rem;
  text-shadow: 2px 2px 2px #e6e6e6;
  text-transform: uppercase;
}

#logo h1 a:link,
#logo h1 a:visited {
  color: #333;
}

#logo span {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

#siteactions {
  text-align: right;
}

#siteactions li {
  display: inline-block;
  margin-left: 10px;
  font-size: 80%;
}

#siteactions li a:hover {
  background: #f1f1f1;
  color: #1a3a64;
}

#siteactions li a {
  padding: 2px 5px;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
}

#siteactions li a:before {
  margin-right: 5px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

#portal-searchbox {
  margin-right: 0;
  text-align: right;
}

#portal-searchbox form {
  width: 300px;
  padding: 0;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 25px;
  float: right;
}

#portal-searchbox input.searchField {
  width: 90%;
  height: 38px;
  padding: 0 10px;
  border: none;
  background: transparent;
}

#portal-searchbox .fa-search {
  margin-right: 10px;
  font-size: 1.3rem;
}

.searchButton {
  padding: 0.4em 0.7em;
  border: none;
  margin-right: 10px;
  margin-left: -35px;
  background: transparent;
  cursor: pointer;
}

.LSBox {
  position: relative;
}

.LSBox:after {
  position: absolute;
  top: 7px;
  right: 10px;
  content: '\f002';
  font-family: 'Font Awesome 5 Free' !important;
  font-size: 1.4rem;
  font-weight: 900;
}

.LSBox input.searchButton {
  position: absolute;
  z-index: 1;
  width: 34px;
  height: 40px;
  text-indent: -5000px;
}

nav {
  position: relative;
  width: 1150px;
  border-top: 1px solid #d4d4d4;
  margin: 0 auto;
  clear: both;
  color: #333;
}

nav .abrefecha {
  cursor: pointer;
}

nav .abrefecha i {
  width: 28px;
  margin: 9px 20px 9px 5px;
  cursor: pointer;
  float: left;
  font-size: 2rem;
}

nav .abrefecha i.fa-times {
  display: none;
}

.menu-title {
  display: inline-block;
  padding: 16px 0;
  margin-right: 25px;
  float: left;
  font-weight: bold;
}

#menu-principal {
  position: relative;
  position: absolute;
  z-index: 12;
  display: none;
  width: 100%;
  border-top: 4px solid #000;
  border-bottom: 1px solid #000;
  border-bottom: 1px solid #d4d4d4;
  background: #fff;
  -webkit-box-shadow: 0px 6px 5px -4px rgba(136, 136, 136, 0.15686);
  box-shadow: 0px 6px 5px -4px rgba(136, 136, 136, 0.15686);
}

#menu-principal .icontop {
  display: block;
  width: 1150px;
  margin: 0 auto;
  font-size: 2rem;
}

#menu-principal .icontop i {
  position: absolute;
  top: -15px;
  margin-left: 7px;
}

#menu-principal .menu-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1150px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 auto;
  list-style: none;
}

#menu-principal .menu-principal li {
  width: 17%;
  padding-right: 10px;
  border-right: 1px solid #dedede;
  margin-right: 2%;
  margin-bottom: 20px;
  font-weight: bold;
}

#menu-principal .menu-principal li a {
  text-decoration: none;
}

#menu-principal .menu-principal li ul {
  padding: 0;
  margin-top: 4px;
  font-weight: normal;
  list-style: none;
}

#menu-principal .menu-principal li ul li {
  display: block;
  width: 100%;
  padding: 4px 0;
  border: none;
  margin-bottom: 0;
  font-size: 90%;
  font-weight: normal;
}

#menu-principal .menu-principal li ul li li {
  padding-left: 5px;
  border-left: 1px solid #ccc;
}

nav ul {
  padding: 0;
  margin: 16px 0;
  float: none;
}

nav li {
  display: inline-block;
}

nav #destaques li a:link {
  display: block;
  padding: 0 1em;
  border-right: 1px solid #bbb;
  font-size: 80%;
  text-decoration: none;
}

nav #destaques li:last-child a {
  padding-right: 0;
  border: none;
}

nav li a:link,
nav li a:visited {
  color: #333;
}

ul.submenu {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  display: block !important;
}

.menu-button {
  background: #25528c;
}

.menu-button button {
  border-color: white;
  background: none;
  color: white;
}

#redes-sociais {
  margin: 5px 5px;
  float: right;
  font-size: 1.8rem;
}

#redes-sociais li {
  margin-left: 10px;
}

#portal-breadcrumbs {
  width: 1150px;
  margin: 2em auto;
  clear: both;
  font-size: 80%;
}

.section-front-page #portal-breadcrumbs {
  display: none;
}

.collection-item p {
  margin-bottom: 0 !important;
}

p {
  line-height: 1.6em;
}

h1 {
  border: none;
  margin-bottom: 0;
  color: #1a3a64;
  font-size: 2.5em;
}

h2 {
  color: #1a3a64;
}

#content h1.documentFirstHeading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.2;
}

#content .documentDescription,
#content #description {
  margin-bottom: 1em;
  color: #4d4d4d;
  font-weight: normal;
}

#content {
  font-size: 100%;
  line-height: 1.6em;
}

#content .newsImageContainer .discreet {
  font-size: 60%;
}

#content .documentDescription,
#content #description {
  font-size: 1em;
  font-weight: bold;
}

.portaltype-news-item #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.portaltype-news-item #content #viewlet-above-content-title {
  order: 1;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
}

.portaltype-news-item #content #parent-fieldname-title {
  order: 2;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
}

.portaltype-news-item #content #viewlet-below-content-title {
  order: 4;
  margin-bottom: 15px;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
}

.portaltype-news-item #content #parent-fieldname-description {
  order: 3;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
}

.portaltype-news-item #content #content-core {
  order: 5;
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
}

#content div.newsImageContainer {
  width: 100%;
  margin: 0 0 1em 0;
}

#content div.newsImageContainer img {
  width: 100% !important;
  height: auto;
}

#content div.newsImageContainer p.discreet {
  top: 0em;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 0;
  margin: 0;
  background-color: #fff;
  color: #000;
  font-size: 12px;
}

dl.image-left.captioned,
dl.image-inline.captioned,
dl.image-right.captioned {
  max-width: 100% !important;
}

dd.image-caption {
  max-width: 99% !important;
  margin: 0 !important;
}

dl.image-inline.captioned dd.image-caption {
  width: 100% !important;
}

.sociallike-network-facebook,
.sociallike-network-pinterest,
.sociallike-network-linkedin {
  margin-top: -5px;
}

#aviso-legal {
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 1rem;
}

#content-core .tileItem .documentByLine {
  color: #383838;
  font-size: 14px;
}

#content-core .tileItem .documentByLine span:first-child {
  display: none;
}

#content-core .tileFooter {
  display: none;
}

#main-content .tile {
  margin-bottom: 1.5em;
}

.tile-header {
  margin-bottom: 12px;
}

.galleria-stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 60px;
  left: 0;
  overflow: hidden;
}

.galleria-container .galleria-image img {
  top: 0 !important;
}

.width-8 .galleria-container {
  height: 470px !important;
}

.width-8 .galleria-container .galleria-image img {
  top: 0 !important;
  height: 400px !important;
  -o-object-fit: cover;
  object-fit: cover;
}

.galleria-info-title {
  font-size: 1.4rem;
}

.cell.width-8 .galleria-info-title {
  font-size: 1.9rem;
}

.galleria-thumbnails-container {
  z-index: 3;
  bottom: 0;
  height: 20px;
}

.galleria-info-text {
  padding: 12px 0;
}

.galleria-info {
  bottom: 10px;
  background: #fff;
}

.galleria-info-description {
  margin: 0;
  color: #000;
  font: normal 13px/1.4 Raleway, sans-serif;
}

.cover-banner-tile {
  display: block;
}

.cover-collection-tile .collection-item {
  margin-bottom: 10px;
}

.cover-richtext-tile h3 {
  font-size: 1em;
}

.colecao-foto img {
  width: 128px;
  height: auto;
}

.colecao-foto h3,
.colecao-foto h4,
.colecao-foto p {
  margin-left: 140px;
}

.tile .cover-list-tile img.right {
  margin: 0 0 0.5em 0;
}

.portletHeader,
dl.portlet dt.portletHeader {
  border-bottom: #d8d8d8 1px solid;
  background: transparent;
  color: #1a3a64;
  font-weight: bold;
}

.portletHeader a,
dl.portlet dt.portletHeader a {
  color: #1a3a64;
}

.portlet {
  padding: 4px 0;
  margin-bottom: 2em;
}

aside dl,
aside dd,
aside ul {
  padding: 0;
  margin: 0;
}

aside a {
  text-decoration: none;
}

#viewlet-below-content-body {
  order: 6;
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
}

#aviso-legal {
  font-style: italic;
  font-weight: bold;
}

.portletNavigationTree ul {
  margin: 0;
}

.portletNavigationTree li {
  list-style-position: inside;
}

.portletNavigationTree .navTreeLevel0 > li {
  border-bottom: #d8d8d8 1px solid;
  list-style: none;
}

.portletNavigationTree a {
  display: block;
  padding: 0.3em 0.3em 0.3em 0.5em;
}

.portletNavigationTree a:hover {
  background: #e4e4e4;
}

.navTreeLevel2 a {
  padding-left: 1em;
}

.navTreeLevel3 a {
  padding-left: 2em;
}

.navTreeLevel4 a {
  padding-left: 3em;
}

.navTreeLevel5 a {
  padding-left: 4em;
}

.navTreeLevel6 a {
  padding-left: 5em;
}

footer {
  padding: 2%;
  border-top: #d8d8d8 1px solid;
  margin-top: 2em;
  background: #1a3a64;
  color: #ffffff;
  font-size: 80%;
}

footer a {
  color: #ffffff !important;
}

footer p {
  margin-bottom: 2em;
}

footer div.cell {
  float: none;
}

#portal-footer {
  background: transparent;
  font-size: 100%;
}

#footer-total .row {
  float: none;
}

#portal-footer li,
footer li {
  padding-bottom: inherit;
}

.colophon-item {
  margin-bottom: 30px;
}

.colophon-info {
  margin-top: 10px;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .eapps-social-share-buttons-container {
    max-width: 80%;
    margin: 0 auto;
  }

  #portal-colophon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    text-align: left;
  }

  .colophon-item {
    width: 40%;
    margin-bottom: 60px;
  }

  #portal-colophon .colophon-item:first-child {
    text-align: right;
  }

  dl.image-left.captioned,
  dl.image-inline.captioned,
  dl.image-right.captioned {
    max-width: 900px !important;
  }
}
@media (max-width: 767px) {
  #column-one {
    border-color: #25528c;
  }

  #siteactions {
    text-align: center;
  }

  nav {
    max-width: 100%;
  }

  ul.submenu {
    display: none !important;
  }

  .menu-title {
    display: none;
  }

  #main,
  #content-core {
    width: 100%;
  }

  #main {
    margin-right: 0 !important;
    table-layout: fixed;
  }

  #menu-principal .menu-principal {
    max-width: 94%;
    padding: 3%;
  }

  #menu-principal .menu-principal li {
    width: 90%;
    border: none;
  }

  #redes-sociais {
    display: none;
  }

  #portal-searchbox form {
    width: 100%;
    margin-bottom: 10px;
  }

  dl.portlet ul.navTree .navTreeCurrentItem {
    border-color: #1a3a64;
  }

  dl.portlet ul.navTree li a:hover {
    border-color: #25528c;
  }

  .eapps-social-share-buttons-mobile-layout
    .eapps-social-share-buttons-container {
    right: 60px !important;
    left: 60px !important;
  }

  dl.image-left.captioned,
  dl.image-inline.captioned,
  dl.image-right.captioned {
    padding: 0;
    margin: 0;
    float: none;
  }
}
@media (max-width: 480px) {
  #logo {
    width: 100%;
    margin-bottom: 1em;
    clear: both;
    float: left;
    text-align: center;
  }

  #portal-searchbox {
    clear: both;
    float: none;
    font-size: 80%;
    text-align: center;
  }
}
